.clear {
  clear: both;
}

.thumbs-wrapper {
  margin: 20px auto;
  padding-left: 25px;
  padding-right: 25px;
  display: table;
  float: left;
}

.thumbs-wrapper li {
  margin-right: 4px;
  margin-bottom: 0px;
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 0;
  float: left;
  padding: 2px;
  border-radius: 2px;
  border: 3px solid transparent;
}

.thumbs-wrapper li:hover {
  border: 3px solid #dddddd;
}

.thumbs-wrapper li.selected {
  border: 3px solid #64bd1f;
}

.thumbs-wrapper li.selected:after,
.thumbs-wrapper li.new-selected:after {
  content: "\f147";
  font-family: dashicons;
  background-color: #64bd1f;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-top-left-radius: 2px;
  color: #fff;
  line-height: normal;
  font-size: 20px;
}

.thumbs-wrapper .delete-btn {
  display: none;
  z-index: 999;
  position: absolute;
  border-width: 0px;
  line-height: 0;
  right: -5px;
  top: -5px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #fff;
}

.thumbs-wrapper .slide img {
  object-fit: cover;
}

.thumbs-wrapper li:hover .delete-btn {
  display: block;
}

.thumbs-wrapper .delete-btn:hover {
  color: #db382f;
}

.thumbs-wrapper .delete-btn:before {
  content: "\f153";
  display: block !important;
  font: 400 18px/1 dashicons;
}

.thumbs-wrapper .add-new-btn {
  padding: 2px;
  border: 3px solid transparent;
}

.thumbs-wrapper .add-new-btn div {
  width: 90px;
  float: left;
  height: 75px;
  display: block;
  background-color: #f2f2f2;
  font-size: 0px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: 50% 20px;
}

.thumbs-wrapper .add-new-btn p {
  text-align: center;
  font-style: italic;
  height: 100%;
  margin: 0px;
  padding-top: 45%;
}

.slides-options {
  border-top: 1px solid #eeeeee;
  position: relative;
}

.activated.slides-options::before {
  content: "";
  background-color: white;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.backend-option {
  position: relative;
  padding: 24px 27px 21px;
  border: 0px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  /* opacity: 0; */
  transition: opacity ease 0.3s;
}

.backend-option::after {
  clear: both;
  display: table;
  content: " ";
}

.backend-option-label {
  width: 20%;
  float: left;
  font-weight: 600;
  float: left;
  margin-top: 0.1em;
  font-size: 14px;
}

.backend-option-input {
  width: 80%;
  max-width: 428px;
  float: left;
}

.backend-option-input input {
  width: 100%;
  max-width: 100%;
}

.backend-option-input textarea {
  width: 100%;
  max-width: 100%;
}

.backend-option-input #thumb {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  text-align: center;
}

.backend-option-input #thumb img {
  display: block;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.buttons-wrapper {
  padding: 20px 5px;
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 78px auto auto;
  grid-column-gap: 10px;
}

.label-slide-title {
  font-weight: 600;
  float: left;
  margin-top: 0.1em;
  font-size: 14px;
}

.input-slide-title {
  max-width: 100%;
  width: 100%;
}
